<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
        padding: 20% 0 ;
    }
#sht_img{
    width: 100%;
}
</style>
<body>
    <img id="sht_img" src="{{url_for('static',filename='images/shutdown.png')}}" alt="shutdown robot">
    <h1>Servidor apagado. Adios :)</h1>
</body>
</html>